NET_ID=devnet
RPC_URL=https://api.devnet.solana.com
REDIS_URL=redis://127.0.0.1:6379

# DNS settings
APP_PORT=8000

# bs58 encoded
PRIVATE_KEY=
# 0.5 means 0.5%
RELAYER_FEE=0.5
PRIORITY_FEE_PER_CU_MICRO_LAMPORTS=100

